.product-modal {
  height: 100%;
}

.product-modal-box {
    height: 100%;
    overflow: scroll;
    overflow-x: auto;
    margin: 0 auto;
    min-width: 800px !important;
    background: #fff;
    border-radius: 0px;
}

.product-modal .Leave-btn {
  margin-bottom: 30px;
}

.product-modal {
	padding: 0px 25px;
}

.product-modal .modal-header {
  justify-content: flex-end;
}

.product-modal .modal-header i {
  font-size: 24px;
  color: #666;
}

.product-modal .product-row {
  max-width: 85%;
  margin: 0 auto;
}

.mt-40 {
  margin-top: 40px;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
	background-color: rgba(0,0,0,0.8) !important;
  display: flex !important;
  align-items: center;
  padding: 0px;
}

.product-modal .thumbnail {
	display: flex;
	justify-content: center;
}

.product-modal .thumbnail img {
	width: 50px;
	height: 50px;
	margin-right: 15px;
}

.product-modal .modal-title {
	color: #666 !important;
}

.product-modal .product-details {
	display: flex;
}

.product-modal .product-details .main-price {
	color: #fd2d5b;
	font-size: 15px;
	margin-right: 20px;
  font-weight: 600;
  text-decoration: line-through;
}

.product-modal .product-details .discount-price {
	color: #fd2d5b;
	font-weight: 600;
}

.product-modal .color-title {
	color: #333;
	font-weight: 600;
	font-size: 18px;
	margin: 20px 0px 10px 0px;
}

.product-modal .leave-review {
  margin-top: 40px;
}

.product-modal .review-title {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.product-modal .leave-review .form-control {
  width: 75%;
  margin: 10px auto;
  min-height: 90px;
  border: 1px solid #ccc;
}

.modal-footer {
  border-top: none !important;
}

/*Custom Radio Button*/
.custom-radio {
  display: inline;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: -10px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.custom-radio:hover input ~ .checkmark {
  background-color: #ccc;
}

.custom-radio input:checked ~ .checkmark {
  background-color: #fff;
  border: 1px solid #ccc;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-radio input:checked ~ .checkmark:after {
  display: block;
}

.custom-radio .checkmark:after {
 	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: transparent;
    border: 2px solid red;
}

/*CUSTOM RADIO SQUARE SIZE*/
.custom-radio-size {
  display: inline;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-radio-size input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.custom-radio-size .checkmark {
  position: absolute;
  top: 0px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 1px solid #fd2d5b;
  border-radius: 0px;
}

.custom-radio-size:hover input ~ .checkmark {
  background-color: #ccc;
}

.custom-radio-size input:checked ~ .checkmark {
  background-color: #fff;
  border: 1px solid #ccc;
}

.custom-radio-size .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-radio-size input:checked ~ .checkmark:after {
  display: block;
}

.custom-radio-size .checkmark:after {
 	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0px;
    background: #fd2d5b;
    border: 2px solid red;
    color: #fff;
}

/*BUTTON*/
.btn-theme {
	padding: 6px 10px !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    background: #fd2d5b !important;
    border-radius: 50px !important;
    color: #fff !important;
}

/*CUSTOM SIZE RADIO*/
/*.size-radio-label {
  display: inline-block;
  min-width: 35px;
  height: 30px;
  line-height: 25px;
  font-size: 14px;
  padding: 0px 5px;
  text-align: center;
  border: solid 2px #fd2d5b;
  transition: all 0.3s;
  background: transparent;
  margin-right: 15px;
  color: #222;
  cursor: pointer;
}

.size-radio[type="radio"] {
  display: none;
}

.size-radio[type="radio"]:checked , .size-radio-label {
  border: solid 2px #fd2d5b;
  background: #fd2d5b;
}*/

.size-radio label {
    float:left;
    min-width: 35px;
    margin-right: 10px;
    background-color: #fff;
    border:1px solid #fd2d5b;
    line-height: 25px;
    font-size: 14px;
       
}

.size-radio label span {
    text-align: center;
    font-size: 14px;
    display: block;
    color: #fd2d5b;
    font-weight: bold;
}

.size-radio label input {
    display: none;
}

.size-radio input:checked + span {
    background-color: #fd2d5b;
    color: #fff;
}

@media (min-width: 576px) {
	.product-modal-box {
	    max-width: 450px;
	    min-width: 450px;
	}
}

@media (max-width: 576px) {
  
}