.product-details span{
	display: inline-block;
	background-color: #ff0000;
	color: #fff;
	font-size: 18px;
	padding: 5px 15px;
}
.modal{ display:block; }

/*GLOBAL CSS HERE*/
body {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 15px;
	color: #666;
	background: #fafafa;
}

/*PAGINATION STARTS*/
.pagination-tab {
	display: flex;
	justify-content: center;
	margin: 15px 0px 0px 0px;
}

.pagination li a {
	border: none;
	color: #666;
	cursor: pointer;
	position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    text-decoration: none;
}

.pagination li a:focus {
	box-shadow: none;
}

.pagination li {
	margin-right: 5px;
}

.pagination li.active a {
	background: #fd2d5b;
	border-radius: 5px;
	color: #fff;
}

.pagination li .before {
 	color: #b7b7b7;
 }
/*PAGINATION ENDS*/

/*LOGIN MODAL STARTS*/
.login-modal.show {
	background: rgba(0,0,0,0.7);
	display: flex !important;
	align-items: center;
}

.login-modal .modal-header {
	border: none;
	padding: 25px;
}

.login-modal .modal-header .close {
    text-align: center;
    color: #fd2d5b;
    margin: 0;
    opacity: 1;
    padding: 0;
    margin-left: auto;
}

.login-modal .modal-body {
	padding: 25px;
	padding-top: 0px;
}

.login-modal .modal-title {
	color: #222;
    text-align: center;
    font-weight: 600;
    font-size: 36px;
}

.login-modal .modal-sub-title {
	text-align: center;
    font-size: 12px;
    margin-bottom: 45px;
    color: #999;
}

.login-modal .form-control {
	border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    padding-left: 0;
    text-align: center;
    color: #222;
}

.login-modal .form-control:focus {
	box-shadow: none;
	border-color: #fd2d5b;
}

.login-modal .form-control::placeholder { 
  text-align: left;
  cursor: #999;
}

.login-modal .form-group {
	margin-bottom: 40px;
}

.login-modal .form-group:last-child {
	margin-bottom: 0px;
}

.login-modal .modal-content {
	border-radius: 15px;
}

.login-modal .modal-footer {
	display: block;
}

.login-modal .modal-footer .btn {
	margin: 0 auto;
	border-radius: 4px;
	background: #fd2d5b;
	margin-bottom: 15px;
	text-transform: uppercase;
}

.login-modal .modal-footer p {
	text-align: left;
	color: #222;
}

.login-modal .modal-footer p a {
	color: #fd2d5b;
	font-weight: 600;
}

.login-modal {

}
/*LOGIN MODAL ENDS*/

/*PRODUCT MODAL STARTS*/
#product-modal .modal-dialog {
	height: 90vh;
    margin: 0 auto;
    min-width: 800px;
}

#product-modal .modal-content {
	height: 100%;
}

.product-modal .product-title {
	color: #666;
    text-align: center;
    font-weight: 600;
    font-size: 36px;
}

.product-modal .product-price {

}
/*PRODUCT MODAL ENDS*/